{% extends 'mainapp/layout.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}
Password Reset
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/password_reset.css' %}">
{% endblock head %}

{% block main %}
<div class="reset-password">
    <div class="text-center heading">{% trans "Password Reset" %}</div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="content head2">{% trans "Please enter your email address to search for your account" %}</div>
    <form class="form-content" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input class="resetButton" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
</div>
{% endblock main %}